<div class="inputs-container">
  <div class="d-flex-center">
    <ng-container *ngIf="traineesStateIds$ | async; let traineesStateIds">
      <app-select-input
        class="w-100"
        [options]="traineesStateIds"
        [placeholder]="'Select trainees ids'"
        [formControl]="formUtilitiesService.getControl(analysisForm, 'ids')"
        [name]="'ids'"
        [isMultiple]="true"
        [isFullWidth]="true"
      />
    </ng-container>
  </div>
  <div class="d-flex-center">
    <app-select-input
      class="w-100"
      [options]="subjectTypeOptions"
      [placeholder]="'Select Subjects'"
      [formControl]="formUtilitiesService.getControl(analysisForm, 'subjects')"
      [name]="'subjects'"
      [isMultiple]="true"
      [isFullWidth]="true"
    />
  </div>
</div>
<div class="charts-container">
  <div class="chart">
    <ng-container *ngIf="traineesGradesAverages$ | async; let traineesGradesAverages">
      <app-chart *ngFor="let traineesGradesAverage of traineesGradesAverages; trackBy: trackByTrainee"
                 [data]="traineesGradesAverage.averages"
                 [graphLabel]="'Grades averages for trainee ' + traineesGradesAverage.trainee.name"
                 [labels]="['Grades averages per month']"
                 [selectLabel]="'Select trainees to display chart'"
      />
    </ng-container>
    <ng-container *ngIf="(traineesGradesAverages$ | async)?.length === 0">
      <p class="text-center">Select at least of trainee to display chart</p>
    </ng-container>
  </div>
  <div class="chart">
    <ng-container *ngIf="subjectsGradesAverages$ | async; let subjectsGradesAverages">
      <app-chart
        [data]="subjectsGradesAverages"
        [graphLabel]="'Grades averages per subject'"
        [labels]="['Grades averages']"
        [selectLabel]="'Select subjects to display chart'"
      />
    </ng-container>
  </div>
</div>

