<div class="monitor-container">
  <ng-container *ngIf="traineesState$ | async; let traineesState">
    <app-data-table
      [dataTableConfig]="monitorTableConfig"
      [items]="traineesState.trainees"
      [isLoading]="traineesState.isLoading"
      [filtersForm]="monitorFiltersForm"
    >
      <div class="mb-3">
        <ng-container *ngIf="traineesStateIds$ | async; let traineesStateIds">
          <app-select-input
            class="w-100"
            [options]="traineesStateIds"
            [placeholder]="'Select trainees ids'"
            [formControl]="formUtilitiesService.getControl(monitorFiltersForm, 'ids')"
            [name]="'ids'"
            [isMultiple]="true"
            [isFullWidth]="true"
          />
        </ng-container>
        <app-text-input
          class="w-100"
          [placeholder]="'Names'"
          [formControl]="formUtilitiesService.getControl(monitorFiltersForm, 'name')"
          [name]="'name'"
          [isFullWidth]="true"
        />
        <div class="d-flex">
          <app-checkbox-input
            [option]="'Passed'"
            [label]="'State'"
            [formControl]="formUtilitiesService.getControl(monitorFiltersForm, 'isPassed')"
            [name]="'isPassed'"
          />
          <app-checkbox-input
            [option]="'Failed'"
            [formControl]="formUtilitiesService.getControl(monitorFiltersForm, 'isFailed')"
            [name]="'isFailed'"
          />
        </div>
        <app-button
          [text]="'Reset filters'"
          [color]="'primary'"
          (buttonClicked)="resetFilters()"
        />
      </div>
    </app-data-table>
  </ng-container>
</div>
