.filter-container {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-m);
  margin-bottom: var(--spacing-m);
  padding-top: var(--spacing-s);

  .state-filter {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--spacing-m);

    .state-label {
      font-size: var(--font-size-m);
      padding-top: var(--spacing-xs);
      min-width: 50px;
    }

    .checkboxes-container {
      display: flex;
      gap: var(--spacing-xs);
    }
  }
}