<form #gradeFormDirective="ngForm" [formGroup]="gradeForm" (ngSubmit)="onSubmitGradeForm()">
  <p>Add Grade Form</p>
  <div class="mb-4">
    <app-number-input
      [label]="'Grade'"
      [formControl]="gradeForm.controls.grade"
      [name]="'grade'"
      [maxNumberLength]="100"
      [digitsAfterDecimal]="0"
      [isFormSubmitted]="isFormSubmitted()"
    />
  </div>
  <div class="mb-4">
    <app-select-input
      [options]="subjectTypeOptions()"
      [placeholder]="'Subject'"
      [formControl]="gradeForm.controls.subject"
      [name]="'subject'"
      [isFormSubmitted]="isFormSubmitted()"
    />
  </div>
  <div class="mb-4">
    <app-date-input
      [label]="'Grade Date'"
      [formControl]="gradeForm.controls.date"
      [name]="'date'"
      [isFormSubmitted]="isFormSubmitted()"
    />
  </div>
  <app-button
    [text]="'Add grade'"
    [color]="'primary'"
    [type]="'submit'"
  />
</form>