<app-data-table
  [config]="tableConfig()"
  [items]="filteredTrainees()"
  [isLoading]="isLoading()"
  [isPointer]="true"
  [idKey]="'gradeId'"
  [activeItemId]="selectedTraineesRow()?.gradeId"
  (tableRowClicked)="onTableRowClick($event)"
>
  <div class="filter-container">
    <app-select-input
      [options]="filterTypeOptions"
      [label]="'Select Filter Type'"
      [formControl]="filterTypeControl"
      [name]="'filterType'"
    />

    @switch (filterTypeControl.value) {
      @case ('id') {
        <app-text-input
          [label]="'ID'"
          [formControl]="dataFiltersForm.controls.id"
          [name]="'id'"
        />
      }
      @case ('name') {
        <app-text-input
          [label]="'Name'"
          [formControl]="dataFiltersForm.controls.name"
          [name]="'name'"
        />
      }
      @case ('dateRange') {
        <app-range-date-input
          [formGroup]="dataFiltersForm.controls.dateRange"
          [startDateControl]="dataFiltersForm.controls.dateRange.controls.startDate"
          [endDateControl]="dataFiltersForm.controls.dateRange.controls.endDate"
          [name]="'dateRange'"
        />
      }
      @case ('subject') {
        <app-select-input
          [options]="subjectTypeOptions()"
          [label]="'Subject'"
          [formControl]="dataFiltersForm.controls.subject"
          [name]="'subject'"
        />
      }
    }
  </div>
</app-data-table>