<div class="d-flex">
  <div class="table-container">
    <ng-container *ngIf="trainees$ | async; let traineesState">
      <app-data-table
        [dataTableConfig]="tableConfig"
        [items]="traineesState.trainees"
        [itemsOrigin]="traineesState.traineesOrigin"
        [isLoading]="traineesState.isLoading"
        [filtersForm]="dataFiltersForm"
      />
    </ng-container>
  </div>
  <div class="form-div-container">
    <div class="buttons-container">
      <app-button
        [text]="'Add'"
        [color]="'primary'"
        (buttonClicked)="addTrainee()"
      />
      <app-button
        [text]="'Remove'"
        [color]="'warn'"
        (buttonClicked)="removeTrainee()"
      />
    </div>
    <div class="form-container">
      <app-trainee-form />
    </div>
  </div>
</div>
