<app-table-filters>
  <ng-content />
</app-table-filters>

<table class="table">
  <thead>
  <tr>
    @for (header of dataTableConfig().columns; track header.dataProperty) {
      <th scope="col" [ngClass]="{'pointer': header.isSortable}" (click)="onSortItems(header)">
        @if (!header.isSortable) {
          <span>{{ header.title }}</span>
        } @else {
          <div class="icon-th">
            <span>{{ header.title }}</span>
            @if (header.sortDirection === sortDirectionEnum.desc) {
              <i class="material-icons">arrow_downward</i>
            } @else if (header.sortDirection === sortDirectionEnum.asc) {
              <i class="material-icons">arrow_upward</i>
            }
          </div>
        }
      </th>
    }
  </tr>
  </thead>
  <tbody>
    @if (isLoading()) {
      <tr>
        <td colspan="12">
          <app-spinner></app-spinner>
        </td>
      </tr>
    }
    @for (item of items() | filterTableItems : filterFn() | slice : (paginationData.currentPage - 1) * paginationData.itemsPerPage : paginationData.currentPage * paginationData.itemsPerPage; track item[idKey()]) {
      <tr
        [ngClass]="[activeItemId() === item[idKey()] ? 'bg-primary' : '', item.dynamicTrClass ? item.dynamicTrClass : '']"
        (click)="onTableRowClick(item)">
        @if (!isLoading() && items().length > 0) {
          @for (header of dataTableConfig().columns; track header.dataProperty) {
            <td [ngClass]="{'pointer': isPointer()}">
              @switch (header.columnType) {
                @case ("date") {
                  {{ item[header.dataProperty] | date:"dd/MM/yyyy" }}
                }
                @default {
                  {{ item[header.dataProperty] | validateType }}
                }
              }
            </td>
          }
        }
      </tr>
    }
    @if (!isLoading() && paginationData.itemsCount === 0) {
      <tr>
        <td colspan="12">
          <p>No items to display</p>
        </td>
      </tr>
    }
  </tbody>
</table>

@if (!isLoading() && paginationData.itemsCount > 0) {
  <app-pagination />
}
