<app-table-filters>
  <ng-content></ng-content>
</app-table-filters>

<table class="table">
  <thead>
  <tr>
    @for (header of dataTableConfig.columns; track header.dataProperty) {
      <th scope="col">{{ header.title }}</th>
    }
  </tr>
  </thead>
  <tbody>
    @if (isLoading) {
      <tr>
        <td colspan="12">
          <app-spinner></app-spinner>
        </td>
      </tr>
    }
    @for (item of items | filterTableItems : filterFn | slice : (paginationData.currentPage - 1) * paginationData.itemsPerPage : paginationData.currentPage * paginationData.itemsPerPage; track item[idKey]) {
      <tr
        [ngClass]="[activeItemId === item[idKey] ? 'bg-primary' : '', item.dynamicTrClass ? item.dynamicTrClass : '']"
        (click)="onTableRowClick(item)">
        @if (!isLoading && items.length > 0) {
          @for (header of dataTableConfig.columns; track header.dataProperty) {
            <td [ngClass]="{'pointer': isPointer}">
              @switch (header.columnType) {
                @case ("date") {
                  {{ item[header.dataProperty] | date:"dd/MM/yyyy" }}
                }
                @default {
                  {{ item[header.dataProperty] }}
                }
              }
            </td>
          }
        }
      </tr>
    }
    @if (!isLoading && items.length === 0) {
      <tr>
        <td colspan="12">
          <p>No items to display</p>
        </td>
      </tr>
    }
  </tbody>
</table>

@if (!isLoading && items.length > 0) {
  <app-pagination />
}
