<app-table-filters>
  <ng-content></ng-content>
</app-table-filters>

<table class="table">
  <thead>
  <tr>
    <th *ngFor="let header of dataTableConfig.columns; trackBy: trackByItemDataProperty"
        scope="col">{{ header.title }}
    </th>
  </tr>
  </thead>
  <tbody>
  <tr *ngIf="isLoading">
    <td colspan="12">
      <app-spinner></app-spinner>
    </td>
  </tr>
  <ng-container *ngIf="paginationData$ | async; let paginationData">
    <tr [className]="item.dynamicTrClass"
        *ngFor="let item of items | slice : (paginationData.currentPage - 1) * paginationData.itemsPerPage : paginationData.currentPage * paginationData.itemsPerPage;
     trackBy: trackByItemId" (click)="onTableRowClick(item)">
      <ng-container *ngIf="!isLoading && items.length > 0">
        <td *ngFor="let header of dataTableConfig.columns; trackBy: trackByItemDataProperty"
            [ngSwitch]="header.columnType" [ngClass]="{'pointer': isPointer}">
          <ng-container *ngSwitchCase="'date'">
            {{ item[header.dataProperty] | asString | date:"dd/MM/yyyy" }}
          </ng-container>
          <ng-container *ngSwitchDefault>
            {{ item[header.dataProperty] }}
          </ng-container>
        </td>
      </ng-container>
    </tr>
  </ng-container>
  <tr *ngIf="!isLoading && items.length === 0">
    <td colspan="12">
      <p>No items to display</p>
    </td>
  </tr>
  </tbody>
</table>

<app-pagination *ngIf="!isLoading && items.length > 0"></app-pagination>
