<app-table-filters>
  <ng-content />
</app-table-filters>

@if (isLoading()) {
  <app-spinner></app-spinner>
} @else {
  <table mat-table
         [dataSource]="items() | slice : (paginationData().currentPage - 1) * paginationData().itemsPerPage : paginationData().currentPage * paginationData().itemsPerPage"
         class="mat-elevation-z2">

    @for (header of config().columns; track header.dataProperty) {
      <ng-container [matColumnDef]="header.dataProperty">
        <th mat-header-cell *matHeaderCellDef>{{ header.title }}</th>
        <td mat-cell *matCellDef="let item">
          @switch (header.columnType) {
            @case (columnTypeEnum().date) {
              {{ item[header.dataProperty] | date:"dd/MM/yyyy" }}
            }
            @case (columnTypeEnum().string) {
              {{ item[header.dataProperty] }}
            }
            @case (columnTypeEnum().number) {
              {{ item[header.dataProperty] }}
            }
          }
        </td>
      </ng-container>
    }

    <tr mat-header-row *matHeaderRowDef="displayedColumns()"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns();"
        (click)="onTableRowClick(row)"
        [class.mat-mdc-row-selected]="activeItemId() === row[idKey()]"
        [class.pointer]="isPointer()"
        [ngClass]="row | traineeRowClass"></tr>

    <tr class="mat-mdc-no-data-row" *matNoDataRow>
      <td class="mat-mdc-cell" [attr.colspan]="displayedColumns().length">
        <span>{{ paginationData().itemsCount === 0 ? 'No items to display' : 'No results found for current filters' }}</span>
      </td>
    </tr>
  </table>
}

@if (isPagination() && paginationData().itemsCount > 0) {
  <app-pagination />
}
