<div class="buttons-container">
  <app-button
    [text]="'Add trainee'"
    [color]="'primary'"
    (buttonClicked)="addTrainee()"
  />
  <app-button
    [text]="'Delete trainee'"
    [color]="'warn'"
    (buttonClicked)="onDeleteTrainee()"
    [isDisabled]="!isEditMode"
  />
  <app-button
    *ngIf="isEditMode"
    [text]="'Add grade'"
    [color]="'accent'"
    (buttonClicked)="addGrade()"
  />
</div>
<div class="forms-container">
  <form [formGroup]="traineeForm" #traineeFormDirective="ngForm" (ngSubmit)="onSubmitTraineeForm()">
    <p>{{ isEditMode ? 'Edit' : 'Create' }} Form</p>
    <div>
      <app-text-input
        [placeholder]="'Name'"
        [formControl]="formUtilitiesService.getControl(traineeForm, 'name')"
        [name]="'name'"
        [formName]="'traineeForm'"
      />
    </div>
    <div>
      <app-number-input
        [placeholder]="'Grade'"
        [formControl]="formUtilitiesService.getControl(traineeForm, 'grade')"
        [name]="'grade'"
        [maxNumberLength]="100"
        [digitsAfterDecimal]="0"
        [formName]="'traineeForm'"
      />
    </div>
    <div>
      <app-text-input
        [type]="'email'"
        [placeholder]="'Email'"
        [formControl]="formUtilitiesService.getControl(traineeForm, 'email')"
        [name]="'email'"
        [formName]="'traineeForm'"
      />
    </div>
    <div>
      <app-date-input
        [placeholder]="'Date Joined'"
        [formControl]="formUtilitiesService.getControl(traineeForm, 'dateJoined')"
        [name]="'dateJoined'"
        [formName]="'traineeForm'"
      />
    </div>
    <div>
      <app-text-input
        [placeholder]="'Address'"
        [formControl]="formUtilitiesService.getControl(traineeForm, 'address')"
        [name]="'address'"
        [formName]="'traineeForm'"
      />
    </div>

    <div>
      <app-text-input
        [placeholder]="'City'"
        [formControl]="formUtilitiesService.getControl(traineeForm, 'city')"
        [name]="'city'"
        [formName]="'traineeForm'"
      />
    </div>
    <div>
      <app-text-input
        [placeholder]="'Country'"
        [formControl]="formUtilitiesService.getControl(traineeForm, 'country')"
        [name]="'country'"
        [formName]="'traineeForm'"
      />
    </div>
    <div>
      <app-text-input
        [placeholder]="'Zip'"
        [formControl]="formUtilitiesService.getControl(traineeForm, 'zip')"
        [name]="'zip'"
        [formName]="'traineeForm'"
      />
    </div>
    <div>
      <app-select-input
        [options]="subjectTypeOptions"
        [placeholder]="'Subject'"
        [formControl]="formUtilitiesService.getControl(traineeForm, 'subject')"
        [name]="'subject'"
        [formName]="'traineeForm'"
      />
    </div>
    <app-button
      [text]="isEditMode ? 'Edit' : 'Create'"
      [color]="'primary'"
      [type]="'submit'"
    />
  </form>

  <form *ngIf="isAddGradeForm" #gradeFormDirective="ngForm" [formGroup]="gradeForm" (ngSubmit)="onSubmitGradeForm()">
    <p>Add Grade Form</p>
    <div>
      <app-number-input
        [placeholder]="'Grade'"
        [formControl]="formUtilitiesService.getControl(gradeForm, 'grade')"
        [name]="'grade'"
        [maxNumberLength]="100"
        [digitsAfterDecimal]="0"
        [formName]="'gradeForm'"
      />
    </div>
    <div>
      <app-select-input
        [options]="subjectTypeOptions"
        [placeholder]="'Subject'"
        [formControl]="formUtilitiesService.getControl(gradeForm, 'subject')"
        [name]="'subject'"
        [formName]="'gradeForm'"
      />
    </div>
    <div>
      <app-date-input
        [placeholder]="'Grade Date'"
        [formControl]="formUtilitiesService.getControl(gradeForm, 'date')"
        [name]="'date'"
        [formName]="'gradeForm'"
      />
    </div>
    <app-button
      [text]="'Add grade'"
      [color]="'primary'"
      [type]="'submit'"
    />
  </form>
</div>
