<div class="buttons-container">
  <app-button
    [text]="'Add trainee'"
    [color]="'primary'"
    (buttonClicked)="addTrainee()"
  />
  <app-button
    [text]="'Delete trainee'"
    [color]="'warn'"
    (buttonClicked)="onDeleteTrainee()"
    [isDisabled]="!isEditMode()"
  />
  @if (isEditMode()) {
    <app-button
      [text]="'Add grade'"
      [color]="'accent'"
      (buttonClicked)="addGrade()"
    />
  }
</div>
<div class="forms-container">
  <form [formGroup]="traineeForm" #traineeFormDirective="ngForm" (ngSubmit)="onSubmitTraineeForm()">
    <p>{{ isEditMode() ? 'Edit' : 'Create' }} Form</p>
    <div class="mb-4">
      <app-text-input
        [label]="'Name'"
        [formControl]="traineeForm.controls.name"
        [name]="'name'"
        [isFormSubmitted]="isFormSubmitted()"
      />
    </div>
    <div class="mb-4">
      <app-number-input
        [label]="'Grade'"
        [formControl]="traineeForm.controls.grade"
        [name]="'grade'"
        [maxNumberLength]="100"
        [digitsAfterDecimal]="0"
        [isFormSubmitted]="isFormSubmitted()"
      />
    </div>
    <div class="mb-4">
      <app-text-input
        [type]="'email'"
        [label]="'Email'"
        [formControl]="traineeForm.controls.email"
        [name]="'email'"
        [isFormSubmitted]="isFormSubmitted()"
      />
    </div>
    <div class="mb-4">
      <app-date-input
        [label]="'Date Joined'"
        [formControl]="traineeForm.controls.dateJoined"
        [name]="'dateJoined'"
        [customErrorMessages]="traineeFormCustomErrors.dateJoined"
        [isFormSubmitted]="isFormSubmitted()"
      />
    </div>
    <div class="mb-4">
      <app-text-input
        [label]="'Address'"
        [formControl]="traineeForm.controls.address"
        [name]="'address'"
        [isFormSubmitted]="isFormSubmitted()"
      />
    </div>

    <div class="mb-4">
      <app-text-input
        [label]="'City'"
        [formControl]="traineeForm.controls.city"
        [name]="'city'"
        [isFormSubmitted]="isFormSubmitted()"
      />
    </div>
    <div class="mb-4">
      <app-text-input
        [label]="'Country'"
        [formControl]="traineeForm.controls.country"
        [name]="'country'"
        [isFormSubmitted]="isFormSubmitted()"
      />
    </div>
    <div class="mb-4">
      <app-text-input
        [label]="'Zip'"
        [formControl]="traineeForm.controls.zip"
        [name]="'zip'"
        [isFormSubmitted]="isFormSubmitted()"
      />
    </div>
    <div class="mb-4">
      <app-select-input
        [options]="subjectTypeOptions()"
        [placeholder]="'Subject'"
        [formControl]="traineeForm.controls.subject"
        [name]="'subject'"
        [isFormSubmitted]="isFormSubmitted()"
      />
    </div>
    <app-button
      [text]="isEditMode() ? 'Edit' : 'Create'"
      [color]="'primary'"
      [type]="'submit'"
    />
  </form>

  @if (isAddGradeForm()) {
    <app-grade-form></app-grade-form>
  }
</div>
