<div *ngIf="paginationData$ | async; let paginationData" class="pagination-container">
  <div class="ms-4 mb-0 d-flex">
    <app-button
      [text]="'Previous'"
      [color]="'primary'"
      [isDisabled]="!paginationData.hasPreviousPage"
      (buttonClicked)="navigateToPage('previousPage')"
    />
    <div class="current-page-div">
      <p class="current-page">{{ page }}</p>
    </div>
    <app-button
      [text]="'Next'"
      [color]="'primary'"
      [isDisabled]="!paginationData.hasNextPage"
      (buttonClicked)="navigateToPage('nextPage')"
    />
  </div>
  <div>
    <span class="bold fs-4">סה"כ {{ paginationData.itemsCount }} רשומות</span>
  </div>
</div>
