<div class="d-flex flex-column" aria-label="Page navigation">
  <div class="pagination ms-4 mb-0 d-flex">
    <div (click)="navigateToPage('previousPage')" class="page-item">
      <app-button
        [text]="'Previous'"
        [color]="'primary'"
      />
    </div>
    <div class="page-item"><a class="page-link pointer active">{{ page }}</a></div>
    <div (click)="navigateToPage('nextPage')" class="page-item">
      <app-button
        [text]="'Next'"
        [color]="'primary'"
      />
    </div>
  </div>
  <div>
    <span class="bold fs-4">סה"כ {{ paginationData.itemsCount }} רשומות</span>
  </div>
</div>
