<ng-container [formGroup]="filtersForm">
<!--  <app-text-input-->
<!--    [placeholder]="'Name'"-->
<!--    [formControl]="formUtilitiesService.getControl(traineeForm, 'name')"-->
<!--    [name]="'name'"-->
<!--    [additionalValidators]="formUtilitiesService.getValidators(traineeForm, 'name')"-->
<!--  />-->
<!--  <app-text-input-->
<!--    [formField]="filtersForm.get('id')"-->
<!--    [customFormControlName]="'id'"-->
<!--    [placeholder]="'ID'"-->
<!--    [type]="'number'"-->
<!--  />-->
  <!--  <div class="row mt-3" *ngIf="isShowMoreFilters">-->
  <!--    <div class="col-2">-->
  <!--      <app-text-input-->
  <!--        [formField]="clientsSearchForm.get('address')"-->
  <!--        [customFormControlName]="'address'"-->
  <!--        [placeholder]="'כתובת'">-->
  <!--      </app-text-input>-->
  <!--    </div>-->
  <!--    <div class="col-2">-->
  <!--      <app-date-input-->
  <!--        [formField]="clientsSearchForm.get('eventDate')"-->
  <!--        [customFormControlName]="'eventDate'"-->
  <!--        [label]="'תאריך אירוע'"-->
  <!--        [isRangePicker]="isInitiallyRangeDatePicker"-->
  <!--        [isShowClearBtn]="true"-->
  <!--        [allowPickRange]="true">-->
  <!--      </app-date-input>-->
  <!--    </div>-->
  <!--  </div>-->
</ng-container>
