:root {
  --white-color: #fff;
  //--primary-color-light: #98D8AA;
  --primary-color: #47A992;
  //--primary-color-dark: #116A7B;
  //--secondary-color: #ECE5C7;
  //--secondary-color-dark: #CDC2AE;
  //--primary-red: red;
  --gray-color: #ced4da;
}
